/* === Global Resets === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
}
/* === ROOT VARS === */
:root{
  --green-color: #264132;
  --green-semi-color: ##486F34;
  --green-light-color: #D2F072;
  --cream-color: #FFF7ED;
  --black-color: #1D1F1E;
  --black-light-color: #646A69;
  --gray-color: #AEB5B4;

  --white-color: #FFFFFF;
  --white-color-80: #D4D9D6;

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
}


/* === MARGINS === */
.m-0 { margin: 0px; }
.m-1 { margin: 10px; }
.m-2 { margin: 20px; }
.m-3 { margin: 30px; }
.m-4 { margin: 40px; }
.m-5 { margin: 50px; }
.m-6 { margin: 60px; }
.m-7 { margin: 70px; }
.m-8 { margin: 80px; }
.m-9 { margin: 90px; }
.m-10 { margin: 100px; }

.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 30px; }
.mt-4 { margin-top: 40px; }
.mt-5 { margin-top: 50px; }
.mt-6 { margin-top: 60px; }
.mt-7 { margin-top: 70px; }
.mt-8 { margin-top: 80px; }
.mt-9 { margin-top: 90px; }
.mt-10 { margin-top: 100px; }

.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-3 { margin-right: 30px; }
.mr-4 { margin-right: 40px; }
.mr-5 { margin-right: 50px; }
.mr-6 { margin-right: 60px; }
.mr-7 { margin-right: 70px; }
.mr-8 { margin-right: 80px; }
.mr-9 { margin-right: 90px; }
.mr-10 { margin-right: 100px; }

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 50px; }
.mb-6 { margin-bottom: 60px; }
.mb-7 { margin-bottom: 70px; }
.mb-8 { margin-bottom: 80px; }
.mb-9 { margin-bottom: 90px; }
.mb-10 { margin-bottom: 100px; }

.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 20px; }
.ml-3 { margin-left: 30px; }
.ml-4 { margin-left: 40px; }
.ml-5 { margin-left: 50px; }
.ml-6 { margin-left: 60px; }
.ml-7 { margin-left: 70px; }
.ml-8 { margin-left: 80px; }
.ml-9 { margin-left: 90px; }
.ml-10 { margin-left: 100px; }




/* === PADINGS === */
.p-1 { padding: 10px; }
.p-2 { padding: 20px; }
.p-3 { padding: 30px; }
.p-4 { padding: 40px; }
.p-5 { padding: 50px; }
.p-6 { padding: 60px; }
.p-7 { padding: 70px; }
.p-8 { padding: 80px; }
.p-9 { padding: 90px; }
.p-10 { padding: 100px; }

.pt-1 { padding-top: 10px; }
.pt-16 { padding-top: 16px; }
.pt-2 { padding-top: 20px; }
.pt-24 { padding-top: 24px;}
.pt-3 { padding-top: 30px; }
.pt-36 { padding-top: 36px;}
.pt-4 { padding-top: 40px; }
.pt-5 { padding-top: 50px; }
.pt-6 { padding-top: 60px; }
.pt-7 { padding-top: 70px; }
.pt-8 { padding-top: 80px; }
.pt-9 { padding-top: 90px; }
.pt-10 { padding-top: 100px; }
.pt-174{ padding-top: 56px;}

.pr-1 { padding-right: 10px; }
.pr-2 { padding-right: 20px; }
.pr-3 { padding-right: 30px; }
.pr-4 { padding-right: 40px; }
.pr-5 { padding-right: 50px; }
.pr-6 { padding-right: 60px; }
.pr-7 { padding-right: 70px; }
.pr-8 { padding-right: 80px; }
.pr-9 { padding-right: 90px; }
.pr-10 { padding-right: 100px; }

.pb-1 { padding-bottom: 10px; }
.pb-12 { padding-bottom: 12px; }
.pb-16 { padding-bottom: 16px; }
.pb-1 { padding-bottom: 10px; }
.pb-2 { padding-bottom: 20px; }
.pb-3 { padding-bottom: 30px; }
.pb-36 { padding-bottom: 36px;}
.pb-4 { padding-bottom: 40px; }
.pb-5 { padding-bottom: 50px; }
.pb-6 { padding-bottom: 60px; }
.pb-7 { padding-bottom: 70px; }
.pb-8 { padding-bottom: 80px; }
.pb-9 { padding-bottom: 90px; }
.pb-10 { padding-bottom: 100px; }
.pb-128 { padding-bottom: 128px;}

.pl-1 { padding-left: 10px; }
.pl-2 { padding-left: 20px; }
.pl-3 { padding-left: 30px; }
.pl-4 { padding-left: 40px; }
.pl-5 { padding-left: 50px; }
.pl-6 { padding-left: 60px; }
.pl-7 { padding-left: 70px; }
.pl-8 { padding-left: 80px; }
.pl-9 { padding-left: 90px; }
.pl-10 { padding-left: 100px; }


.p-vertical-small {
  padding-left: 16px;
  padding-right: 16px;
}

.m-vertical-small {
  margin-left: 16px;
  margin-right: 16px;
}


.p-horizontal-small {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-beetween-vertical-small {
  padding-top: 40px;
}

/* === width === */
.wfs {
  width: 100%;
} 
/* === flexbox === */

.container-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-sb-gap16 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.container-row-space {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
}

.container-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}



/* === COLORS === */
.c-black  {color: var(--black-color); }
.c-grey { color: var(--black-light-color); }
.c-cream { color: var(--cream-color); }
.c-green { color: var(--green-color); }
.c-green-dark {color: var(--green-dark-color);}
.c-green-light { color: var(--green-light-color);}
.c-white-color { color: var(--white-color);}
.c-white-color-80 { color: var(--white-color-80) }


/* === WEIGHT === */
.thin { font-weight: var(--font-thin); }
.extra-light { font-weight: var(--font-extra-light); }
.light { font-weight: var(--font-light); }
.regular { font-weight: var(--font-regular); }
.medium { font-weight: var(--font-medium); }
.semi-bold { font-weight: var(--font-semi-bold); }
.bold { font-weight: var(--font-bold); }
.extra-bold { font-weight: var(--font-extra-bold); }
.blacky { font-weight: var(--font-black); }

/* === FONT SIZE === */
.small-text { font-size: 0.875rem; } /* 14px */
.normal-text { font-size: 1rem; } /* 16px */
.medium-text { font-size: 1.125rem; } /* 18px */
.medium-large-text { font-size: 1.25rem; } /* 20px */
.large-text { font-size: 1.5rem; } /* 24px */
.xl-text { font-size: 2rem; } /* 32px */
.xxl-text { font-size: 3.875rem}

/* === FONT SIZE === */
.fh-24 {
  line-height: 1.5;
}

.p-16 {
font-size: 16px;
line-height: 24px;
letter-spacing: -0.004em;
}




h2 {
  letter-spacing: -1;
}

h3 {
font-size: 32px;
line-height: 40px;
letter-spacing: -0.32px;
}


/* === TEXT-ALIGN === */
.t-center {
  text-align: center;
}


/* === TEXT-WIDTH === */
.tw-255 {
  width: 255px;
  margin: 0 auto;
}
/* === BACKGROUNDS === */
.white-bg {
  background-color: var(--white-color);
  color: var(--black-color);
}
.cream-bg {
  background-color: var(--cream-color);
  color: var(--black-color);
  border-radius: 24px;
}
.green-bg {
  background-color: var(--green-color) ;
  color: var(--white-color);
}

.green-bg-image {
  background-color: var(--green-color) ;
  color: var(--white-color);
  background-image: url("https://mackoagustin.github.io/tracker/assets/images/rain.png");
  /*   background-image: url("/assets/images/rain.png");  */
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
}

.background-form {
  background-color: var(--white-color);
  background-image: url("https://mackoagustin.github.io/tracker/assets/images/background-form.png");
  /*   background-image: url("/assets/images/background-form.png"); */
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

.background-hero {
  background-color: var(--white-color);

  background-image: url("https://mackoagustin.github.io/tracker/assets/images/hero-background.png");
  /*   background-image: url("/assets/images/hero-background.png"); */
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center; 
}


/* === BORDERS === */
.b-b{
  border-bottom: 1px solid var(--gray-color);
}

.b-b-green {
 border-bottom: 1px solid #ECFCCB3D;
}

.b-all {
  border:  1px solid var(--gray-color);
}

.ko {
  font-size: 45px;
}


/* === radius === */
.br-24 {
  border-radius: 24px;
}

/* === img === */

.img-phone {
  width: 317px;
  height: 395px;
}

.image-container {
  position: relative;
  width: 343px;
  height: auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
}

.background-shape {
  position: absolute;
  width: 345px;
  height: 355px;
  border-radius: 24px;
  top: 0;
  left: 0;
}


.image-overlay {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 12px;
}


.testimony-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;

}

.testimony-card {
  margin-top: 0px;
  padding-top: 24px;
  background-color: var(--white-color);
  border-radius: 24px ;
  border:2px solid #EBF2EF;
  margin: 0 16px;
  width: 311px;
  height: 410px;
}



.testimony-background-shape {
  background-color: #F5FAF9;
  position: absolute;
  width: 343px;
  height: 258px;
  border-radius: 24px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}


.testimony-body {
  width: 279px;
  margin: 0 auto;
}

.testimonial-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


/* === FAQ === */
.faq-container {
  max-width: 500px;
  margin: auto;
}
.faq-item {
  background: white;
  padding: 1rem;
  border-radius: 24px ;
  border:2px solid #EBF2EF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faq-item.active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.faq-answer {
  display: none;
  padding-top: 16px;
  padding-bottom: 12px;
  line-height: 20px;
  max-height: 0;
  overflow: hidden;
}
.faq-item.active .faq-answer {
  display: block; 
  max-height: 200px 
}


form {
  background-color: var(--white-color);
  margin: 0 auto;
  padding: 20px;
  border-top: 4px solid var(--green-light-color);
  border-radius: 16px;
  padding: 32px 16px;
  box-shadow: 0px 24px 32px -12px rgba(54, 74, 54, 0.24), 0px 1px 2px 0px rgba(167, 185, 164, 0.16), 0px 0px 0px 1px rgba(18, 105, 63, 0.08);
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 200px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: var(--green-color); 
  outline: none; 
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container input {
  width: 100%;
  height: 48px;
  padding: 10px 10px 5px 50px; 
  border: 1px solid #ccc;
  border-radius: 200px;
}

.input-icon {
  position: absolute;
  left: 15px; 
  top: 50%; 
  transform: translateY(-104%); 
  width: 25px;
  height: 25px;
  pointer-events: none; 
}
#peopleInput {
  font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.header-mobile {
  display: block;
}
.header-desktop {
  display: none;
}

.mobile-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91vw;
}

.tab-container {
  display: block;
}

.pb-m-2 {
  padding-bottom: 40px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 30px 16px 1px 16px;
  
}

.tab {
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  width: 348px;
  text-align: center;
}

.tab.active {
  border-bottom: 2px solid #ECFCCB;
}

.tab-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -1%;
  text-align: center;
  color: #ECFCCB;
}

.content {
  max-width: 311px;
  margin: 0 auto; 
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -1%;
  text-align: center;

}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  flex-direction: column;

  z-index: 100;
}

.menu-mobile.active {
  display: flex;
}

body.no-scroll {
  overflow: hidden;
}
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

a {
  color: var(--white-color);
}


.social-net-bottom {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}



.wraper-planes{
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: left;
  align-items: flex-start;
  gap: 32px;
  box-shadow: 0px 24px 24px -12px rgba(54, 74, 54, 0.06), 0px 1px 2px 0px rgba(87, 92, 86, 0.16), 0px 0px 0px 1px rgba(18, 105, 63, 0.08);
  border-radius: 16px;
  border-top: 3px solid #D2F072;
  margin: auto;
}

.wraper-planes .price-per-person {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.wraper-planes .iva-price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
} 


.tabs-height {
  height: 152px;
}


.scroll-container-button {
display: none;
}




/* Contenedor del scroll */
.scroll-container {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

/* Contenido desplazable */
.scroll-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  overflow-x: auto;
  scroll-behavior: smooth; 
  padding: 38px 10px 80px 10px
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-flex {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.scroll-desktop {
  display: none !important;
}


.slider-indicators li {
  background-color: rgb(213, 146, 244) ; /* Para verificar si se aplica el estilo */
  width: 8px !important;
  height: 8px !important;
}

.scroll-mob {
  display: block !important;
}


/* scroll horizontal en mobile */
@media (max-width: 768px) {
  .tabs {
    display: flex;
    overflow-x: auto;  
    white-space: nowrap;
    gap: 28px; 
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
  }

  .tab {
    flex: 0 0 auto;
    width: auto; 
    font-size: 18px; 
  }

  .tabs::-webkit-scrollbar {
    display: none;
  }
}





@media ( min-width: 768px ) {
/* tablets */

.background-hero {
  height: 736px;
  background-color: var(--white-color);
  background-image: url("https://mackoagustin.github.io/tracker/assets/images/background-hero-desktop.png");
  /*  background-image: url("/assets/images/background-hero-desktop.png"); */
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-width {
  max-width: 1130px;
  margin: 0 auto;
}
.section-text-hero{
  max-width: 592px;
  padding-left: clamp(45px, 10vw, 145px);
}

.button-hero {
  max-width: 233px;
}
 .container-row-desktop {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.img-phone {
  width: 403px;
  height: 500px;
}

.container-benefit-text {
  max-width: 60px;
  display: flex;
  justify-content: center;
}

.large-text {
  font-size: 2.5rem; /* 40px */
}

.container-benefit-desktop {
  max-width: 1160px;
  margin: 0 auto;
}

.container-row-desktop{
  display: flex;
  flex-direction: row;
  align-items: start;
  align-self: stretch;
  gap: 40px;
  padding-bottom: 104px ;
}

.benefit-separation {
  margin-left: 400px;
}


.h2-d {
font-size: 62px;
font-weight: 400;
line-height: 68px;
letter-spacing: -0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.pt-14 {
  padding-top: -40px;
}
.pt-40 {
  padding-top: 40px;
}

.pt-120 {
  padding-top: 120px;
}


.container-carac-desktop {
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
}

.container-carac-space {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 80px;
}

.container-carac-desktop-right {
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
}



.p-16 {
  font-size: 1.125rem;;
}
h2 {
  margin: 0;
}

.container-caract-text {
  width: 862px;
}

.container-planes-width {
  max-width: 780px;
  margin: 0 auto;
}
.container-planes-card {
  max-width: 366px;
}

.container-planes-cards {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
}

.wraper-planes{
  display: flex;
  width: 100%;
  padding: 32px;
  justify-content: left;
  align-items: flex-start;
  gap: 32px;
  box-shadow: 0px 24px 24px -12px rgba(54, 74, 54, 0.06), 0px 1px 2px 0px rgba(87, 92, 86, 0.16), 0px 0px 0px 1px rgba(18, 105, 63, 0.08);
  border-radius: 16px;
  border-top: 2px solid #D2F072;
}

.wraper-planes-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.wraper-planes .content-padding {
  margin-top: 44px;
}

.wraper-planes .price-per-person {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 40px;
}
.wraper-planes .iva-price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
} 

.wraper-planes h1 {
  line-height: 68px;
}




.testimony-card {
  width: 800px;
  min-height: 460px ;
}

.testimony-background-shape {
  background-color: #F5FAF9;
  position: absolute;
  width: 848px;
  height: 258px;
}

.testimony-body {
  width: 672px;
}

.fs-32px {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
  text-align: center;
  
}
.tw-255  {
  width: 957px;
font-size: 76px;
line-height: 80px;
letter-spacing: -0.03em;
text-align: center;
}

.wfs {
  width: 230px;
}


.green-bg-image {
  background-color: var(--green-color) ;
  color: var(--white-color);
  
  background-image: url("https://mackoagustin.github.io/tracker/assets/images/rain-desktop.png");
  /* background-image: url("/assets/images/rain-desktop.png");  */
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
}

.container-faq {
  max-width: 800px;
  margin: 0 auto;
}

.background-form {
  background-color: var(--white-color);
  
  background-image: url("https://mackoagustin.github.io/tracker/assets/images/background-form-desktop.png");
  /* background-image: url("/assets/images/background-form-desktop.png"); */
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

.container-row-desktop-ro {
  display: flex;
  flex-direction: row;
  align-items:first baseline;
  justify-content: center;
  align-self: stretch;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-form {
  width: 488px;
  margin: 0 auto;
}
.pb-6 {
  padding-bottom: 130px;
}
.pt-124x {
  padding-top: 120px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #2d3f34;
  border-radius: 8px;
}

.tab-container {
  display: block;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  width: 348px;
}

.tab.active {
  border-bottom: 2px solid #ECFCCB;
}

.tab-text {
font-weight: 500;
font-size: 40px;
line-height: 64px;
letter-spacing: -1%;
text-align: center;
color: #ECFCCB;

}
.content {
  max-width: 650px;
  margin: 0 auto; 
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
  text-align: center;

}

.image-container {
  position: relative;
  width: 543px;
  height: auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
}

.image-overlay-desktop {
  position: relative;
  max-width: 456px;
  height: 355px;
  z-index: 1;
  border-radius: 12px;
}

.image-overlay-phone {
  position: relative;
  max-width: 304px;
  height: 672px;
  z-index: 1;
  border-radius: 12px;
}

.background-shape {
  position: absolute;
  width: 488px;
  height: 500px;
  border-radius: 24px;
  top: 0;
  left: 0;
}

.header-mobile {
  display: none;
}

.header-desktop {
  display: block;
}

.pt-174{ padding-top: 174px;}

.pb-m-2 {
  padding-bottom: 0px; /* O el valor que prefieras */
}


/* Contenedor del scroll */
.scroll-container {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

/* Contenido desplazable */
.scroll-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  padding: 80px 50px 80px 60px;

}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-flex {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.scroll-container-button {
  max-width: 1008px;
  display: flex;
}

.scroll-mobile {
  display: none;
}

.tabs-height {
  height: 590px;
}



.swiffy-slider .slider-nav::after {
  display: none !important;
}

.scroll-desktop {
  display: block !important;
}

.scroll-mob {
  display: none !important;
}
}


